 <!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>LaxeLane</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg" />

    <!-- Main CSS -->
    <link href="/adminAssets/css/main.css" rel="stylesheet" type="text/css" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha384-MCrpBZZg4wOnAFOxRehZ3VKKq+EwA7Kly/8vcGQBIhMLjr6/8W2Yz0PKtvjDVFJg" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@400;600&family=Lora:wght@400;700&family=Great+Vibes&family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">

    <!-- Cropper.js (For image cropping) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.css">
    <!-- Replace the current Material Icons link with this -->
<link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round&family=Material+Icons+Outlined&family=Material+Icons" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- FontAwesome Kit -->
    <script src="https://kit.fontawesome.com/16d4885483.js" crossorigin="anonymous"></script>

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
<style>
   
body {
    background-color: #ffffff;
}
.navbar {
    background-color: #8da7ab;
}
.navbar-aside {
    background-color: #b0d5de;
}
.menu-item a.menu-link {
    color: #310505;
}

.menu-item a.menu-link:hover,
.menu-item a.menu-link.active {
    background-color: #6e7e6e; 
    color: #ffffff;
}
.dropdown-menu {
    background-color: #bb9aaf;
}

.dropdown-item:hover {
    background-color: #33053d;
    color: #ffffff;
}
    /* Add this to your existing style block */
    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }

    .menu-link .material-icons {
        margin-right: 10px;
        vertical-align: middle;
    }

    /* Update your existing styles */
    .menu-item a.menu-link {
        color: #310505;
        display: flex;
        align-items: center;
        padding: 10px 15px;
    }

</style>
</head>
<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="#" class="brand-wrap">
                <img src="/assets/images/logo.png"  class="logo" alt="LaxeLane">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin">
                        <i class="material-icons">dashboard</i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
        
                <li class="menu-item">
                    <a class="menu-link" href="/admin/users">
                        <i class="material-icons">people</i>
                        <span class="text">Customers</span>
                    </a>
                </li>
        
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category">
                        <i class="material-icons">category</i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <!-- <li class="menu-item">
                    <a class="menu-link" href="/admin/brands"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a> -->
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/addProducts">
                        <i class="material-icons">add_box</i>
                        <span class="text">Add product</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/products">
                        <i class="material-icons">inventory_2</i>
                        <span class="text">Products</span>
                    </a>
                </li>
            
                <!-- <li class="menu-item">
                    <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-class"></i>
                        <span class="text">Coupon</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/banner"> <i class="icon material-icons md-photo_size_select_actual"></i>
                        <span class="text">Banner</span> </a>
                </li> -->

                <!-- <li class="menu-item">
                    <a class="menu-link" href="/admin/orderList"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li> -->
            </ul>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/admin-assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header> 








    



        